body {
  background: url(./fondo-wal.jpg) center center no-repeat fixed;
  background-size: cover;
}

.container {
  text-align:center;
  background: rgba(155,155,155,0.8);
  border-radius:5px;  
  margin: 0 auto;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 70%;
  padding: 10px;
}

h1 {
  font: oblique bold 210% cursive;
}

p {
  font: oblique bold 120% cursive;
}

@media only screen and (max-width: 767px){
  body {
    background: url(./fondo-wal.jpg);
  }
}
